--extra-index-url https://download.pytorch.org/whl/cu118

# basic
numpy==1.26.4
pandas
matplotlib
seaborn
tqdm
scikit-learn

# CV / augmentations
opencv-python
albumentations
pillow

# deep learning
tensorflow==2.13.0
torch==2.1.2
torchvision==0.16.2

# adversarial / robustness
adversarial-robustness-toolbox

# ONNX toolchain
onnx
tf2onnx
onnx2pytorch

# web / api
flask
Flask-Cors
flasgger
python-dotenv

# jupyter
ipykernel

# excel i/o
openpyxl
XlsxWriter

